<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5nUzCczmhTseIoU2gznfpLVDoFDD35NU</string>
	<key>GCM_SENDER_ID</key>
	<string>691168848471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Lev-Vlasov.NewsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-17dda</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-17dda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691168848471:ios:6cea37a0aae2dc921d1112</string>
</dict>
</plist>